{% load static %}
<section class="w3l-footer-22">
    <!-- footer-22 -->
    <div class="footer-hny py-5">
        <div class="container py-lg-5">
            <div class="text-txt row">
                <div class="left-side col-lg-4">
                    <h3><a class="logo-footer" href="{% url 'index' %}">
                        Cynthia's<span class="lohny"> K</span>itchen<i class="fa fa-cutlery ml-2" aria-hidden="true"></i></a></h3>
                    <!-- if logo is image enable this   
                                  <a class="navbar-brand" href="#index.html">
                                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                  </a> -->
                    <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.Vivamus
                        a ligula quam. Ut blandit eu leo non suscipit. </p>
                    <ul class="social-footerhny mt-lg-5 mt-4">
  
                        <li><a class="facebook" target="_blank" href=""><span class="fa fa-facebook" ></span></a>
                        </li>
                        <li><a class="twitter" target="_blank" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="google" target="_blank" href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="instagram" target="_blank" href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
  
                <div class="right-side col-lg-8 pl-lg-5">
                    <h4>Nigeria Food Special Offer are Flat Upto 10% Discount</h4>
                    <div class="sub-columns">
                        <div class="sub-one-left">
                            <h6>Useful Links</h6>
                            <div class="footer-hny-ul">
                                <ul>
                                    <li><a href="{% url 'products' %}">Our Menu</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                                <ul>
                                    <li><a href="{% url 'blog' %}">News Blog</a></li>
                                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                                    <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                                </ul>
                            </div>
  
                        </div>
                        <div class="sub-two-right">
                            <h6>Our Office</h6>
                            <p  class="mb-5">28 Lumumba street new haven Enugu North, Enugu State Nigeria
                          </p>
  
                            <h6>We accept</h6>
                            <ul>
                                <li><a class="pay-method"><span aria-hidden="true"><img src="{% static 'images/pay1.png' %}" alt=""></span></a>
                                </li>
                                <li><a class="pay-method"><span  aria-hidden="true"><img src="{% static 'images/pay2.png' %}" alt=""></span></a>
                                </li>
                                <li><a class="pay-method"><span aria-hidden="true"><img src="{% static 'images/pay7.png' %}" alt=""></span></a>
                                </li>
                                <li><a class="pay-method"><span  aria-hidden="true"><img src="{% static 'images/pay8.png' %}" alt=""></span></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section row">
                <div class="columns col-lg-6">
                    <ul class="jst-link">
                        <li><a href="{% url 'privacy' %}">Privacy Policy </a> </li>
                        <li><a href="{% url 'terms' %}">Term of Service</a></li>
                        <li><a href="{% url 'contact' %}">Customer Care</a> </li>
                    </ul>
                </div>
                <div class="columns col-lg-6 text-lg-right">
                    <p style="font-size: 13px;">© 2023 Cynthia's Kitchen. All rights reserved | Developed by Kingnze</p>
                </div>
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-double-up"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- //titels-5 -->
    <!-- move top -->
  
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
  
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }
  
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
  </section> 


</body>

</html>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!--/login-->
<script>
      $(document).ready(function () {
          $(".button-log a").click(function () {
              $(".overlay-login").fadeToggle(200);
              $(this).toggleClass('btn-open').toggleClass('btn-close');
          });
      });
      $('.overlay-close1').on('click', function () {
          $(".overlay-login").fadeToggle(200);
          $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
          open = false;
      });
</script>
<!--//login-->
<script>
// optional
      $('#customerhnyCarousel').carousel({
              interval: 5000
  });
</script>
<!--pop-up-box-->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<!--//pop-up-box-->
<script>
$(document).ready(function () {
  $('.popup-with-zoom-anim').magnificPopup({
    type: 'inline',
    fixedContentPos: false,
    fixedBgPos: true,
    overflowY: 'auto',
    closeBtnInside: true,
    preloader: false,
    midClick: true,
    removalDelay: 300,
    mainClass: 'my-mfp-zoom-in'
  });

});
</script>
<!--//search-bar-->
<!-- disable body scroll which navbar is in active -->

<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>

 <!-- theme switch js (light and dark)-->
 <script src="{% static 'js/theme-change.js' %}"></script>
 <script>
     function autoType(elementClass, typingSpeed) {
         var thhis = $(elementClass);
         thhis.css({
             "position": "relative",
             "display": "inline-block"
         });
         thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
         thhis = thhis.find(".text-js");
         var text = thhis.text().trim().split('');
         var amntOfChars = text.length;
         var newString = "";
         thhis.text("|");
         setTimeout(function () {
             thhis.css("opacity", 1);
             thhis.prev().removeAttr("style");
             thhis.text("");
             for (var i = 0; i < amntOfChars; i++) {
                 (function (i, char) {
                     setTimeout(function () {
                         newString += char;
                         thhis.text(newString);
                     }, i * typingSpeed);
                 })(i + 1, text[i]);
             }
         }, 1500);
     }

     $(document).ready(function () {
         // Now to start autoTyping just call the autoType function with the 
         // class of outer div
         // The second paramter is the speed between each letter is typed.   
         autoType(".type-js", 200);
     });
 </script>
 <!-- //theme switch js (light and dark)-->

 <!-- MENU-JS -->
 <script>
     $(window).on("scroll", function () {
         var scroll = $(window).scrollTop();

         if (scroll >= 80) {
             $("#site-header").addClass("nav-fixed");
         } else {
             $("#site-header").removeClass("nav-fixed");
         }
     });

     //Main navigation Active Class Add Remove
     $(".navbar-toggler").on("click", function () {
         $("header").toggleClass("active");
     });
     $(document).on("ready", function () {
         if ($(window).width() > 991) {
             $("header").removeClass("active");
         }
         $(window).on("resize", function () {
             if ($(window).width() > 991) {
                 $("header").removeClass("active");
             }
         });
     });
 </script>
 <!-- //MENU-JS -->

 <!-- disable body scroll which navbar is in active -->
 <script>
     $(function () {
         $('.navbar-toggler').click(function () {
             $('body').toggleClass('noscroll');
         })
     });
 </script>
 <!-- //disable body scroll which navbar is in active -->
<!-- disable body scroll which navbar is in active -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script text="text/javascript" src="{% static 'lightbox2-2.11.3/dist/js/lightbox.min.js' %}" ></script>
